:root {
    --color-blue-medium: #8fe2e4;
    --color-purple: #632ce7;
    --color-gray: #ccc;
    --color-gray-medium: #f8f9fa;
    --color-yellow: #fac32c;
  
    position: relative;
    min-height: 100%;
  }
  
  body {
    background-color: #4f73cf;
  }
  
  a {
    color: inherit;
  }
  
  #editar:hover{
    cursor: pointer;
  }
  
  .container > .row {
    margin-bottom: 3rem;
  }
  /* ------ ------------------- ------- */
  /* ------ Barra De Navegacion ------- */
  /* ------ ------------------- ------- */
  .navbar-brand > img {
    width: 55px;
  }
  .navbar-main .active {
    background-color: #4f73cf;
    border-radius: 50px;
  }
  
  .navbar-main {
    background-color: #2752c3;
  }
  
  .navbar-main a {
    color: white;
  }
  
  .navbar-main a:hover {
    color: black;
    background-color: #b7bdcc;
    border-radius: 50px;
  }
  #detalle{
    background: #FFDE59;
}
  
  .selector-for-some-widget {
    box-sizing: content-box;
  }
  
  /* ------ ------------------- ------- */
  /* ------ Contenedor Principal ------ */
  /* ------ ------------------- ------- */
  
  .contenedor {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4f73cf;
    margin-top: 100px;
  }
  
  #botonAgregar{
    width: 50%;
  }