:root {
  --color-blue-medium: #8fe2e4;
  --color-purple: #632ce7;
  --color-gray: #ccc;
  --color-gray-medium: #f8f9fa;
  --color-yellow: #fac32c;

  position: relative;
  min-height: 100%;
}

body {
  background-color: #4f73cf;
}

a {
  color: inherit;
}

#editar:hover{
  cursor: pointer;
}

.container > .row {
  margin-bottom: 3rem;
}
/* ------ ------------------- ------- */
/* ------ Barra De Navegacion ------- */
/* ------ ------------------- ------- */
.navbar-brand > img {
  width: 55px;
}
.navbar-main .active {
  background-color: #4f73cf;
  border-radius: 50px;
}

.navbar-main {
  background-color: #2752c3;
}

.navbar-main a {
  color: white;
}

.navbar-main a:hover {
  color: black;
  background-color: #b7bdcc;
  border-radius: 50px;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

/* ------ ------------------- ------- */
/* ------ Contenedor Principal ------ */
/* ------ ------------------- ------- */

.contenedor {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: block;
  background-color: #4f73cf;

  margin-top: 100px;
}

/* ------ ------------------- ------- */
/* ------        Varios       ------- */
/* ------ ------------------- ------- */

.card-title {
  text-align: center;
  font-weight: bold;
}

/* ------ ------------------- ------- */
/* ------  Menu Mis Cursos  ------- */
/* ------ ------------------ ------ */

.cursosMostrar {
  margin: 15%;
}
/* ------ ------------------- ------- */
/* ------  Menu Mi Perfil  ------- */
/* ------ ------------------ ------ */

#titulo-miPerfil {
  text-align: center;
  color: white;
  text-shadow: 1px 1px rgb(15, 15, 15);
  margin-block-end: 2%;
}

#titulo-datosBancarios {
  color: white;
  text-shadow: 1px 1px rgb(15, 15, 15);
  margin-block-end: 2%;
}

/* ------ ------------------- ------- */
/* ------  Vista de Cursos  ------- */
/* ------ ------------------ ------ */
.boton-Agregar{
  margin-top: 75px;
}

.video{
  float: left;
  background-color: #fac32c;
  margin-top: 5px;
  width: 70%;
  height: 446px;

  display: flex;
  justify-content: center;

  padding-top: 1%
}

.listadoCursos{
  float: right;
  background-color: #7a7976;
  margin-top: 5px;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.comentarios{
  float: left;
  background-color: #f1f0ec;
  width: 70%;
  height: 250px;

  display: flex;
  justify-content: center;

}

@media screen and (max-width: 943px){


  .video{
    background-color: #fac32c;
    margin-top: 5px;
    width: 100%;
    height: 446px;
  
    display: flex;
    justify-content: center;
  
    padding-top: 1%
  }

  .listadoCursos{
    width: 100%;
    margin-top: 0px;
  }

  .comentarios{
    width: 100%;
    margin-top: 0px;
  }

}

.seleccionarLeccion h1{
  font-size: 20px;
  padding-top: 50%;
  text-decoration: underline black;
}

